@mixin button($bg:$black, $color:$white, $hoverBg: $gray, $hoverColor: $white) {
  background-color: $bg;
  border: none;
  color: $color;
  cursor: pointer;
  line-height: 1.4;
  padding: 0.5em 1em;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;

  &:visited {
    color: $color;
  }

  &:hover {
    background-color: $hoverBg;
  }
}

@mixin button-alt {
  @include button($gray, $white, $black);

  font-weight: 600;
  font-size: 0.7rem;
  padding: 0.4em 0.6em 0.3em;
}

@mixin button-alt-2 {
  @include button($gray-lightest, $black, $gray-lighter);

  font-size: 0.8rem;
  font-weight: 600;
  text-transform: none;
}

.button {
  @include button;

  &--alt {
    @include button;
    @include button-alt;
  }

  &--alt-2 {
    @include button;
    @include button-alt-2;
  }

  &--alt-3 {
    @include button;
    @include button-alt-3;
  }
}
/* Pulse Grow */
@-webkit-keyframes button-alt-3 {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes button-alt-3 {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.button-alt-3 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.button-alt-3:hover, .button-alt-3:focus, .button-alt-3:active {
  -webkit-animation-name: button-alt-3;
  animation-name: button-alt-3;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
